@font-face {
  font-family: JetBrains-large;
  src: url(./assets/JetBrainsMono-VariableFont_wght.ttf);
  font-weight: bold;
}
@font-face {
  font-family: JetBrains-small;
  src: url(./assets/JetBrainsMono-VariableFont_wght.ttf);
  font-weight: normal;
}

@media (resolution >= 150dpi){

  button {
    font-family: JetBrains-small;
    font-style: normal;
    font-size: 32pt;
  }
  h1 {
    font-family: JetBrains-large;
    font-style: bold;
    font-size: 46pt;
  }
  p {
    font-family: JetBrains-small;
    font-style: normal;
    font-size: 12pt;
  }
}

@media (resolution < 150dpi){

  button {
    font-family: JetBrains-small;
    font-style: normal;
    font-size: 12pt;
  }
  h1 {
    font-family: JetBrains-large;
    font-style: bold;
    font-size: 24pt;
  }
  p {
    font-family: JetBrains-small;
    font-style: normal;
    font-size: 12pt;
  }
}
.center {
  text-align: center;
  align-self: center;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: center;
}

.item {
  border: 2px solid black;
  margin: 5px 5px 5px 5px;
  padding: 10px;
  background: center;
  background-color:gold;
  border-radius: 10px;
  text-align: center;
}
