@font-face {
  font-family: JetBrains-large;
  src: url(./assets/JetBrainsMono-VariableFont_wght.ttf);
  font-weight: bold;
}
@font-face {
  font-family: JetBrains-small;
  src: url(./assets/JetBrainsMono-VariableFont_wght.ttf);
  font-weight: normal;
  font-size: 11pt;
}


h1 {
  font-family: JetBrains-large;
  font:700;
  /* transform: rotate(20deg); */
}

div {
  margin: auto;
}

.app {
  margin-left: 0px;
  margin-right: 0px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  text-align: center;
}

.item {
  border: 2px solid black;
  margin: 5px 5px 5px 5px;
  padding: 10px;
  background: center;
  background-color:gold;
  border-radius: 10px;
  font-family: JetBrains-small;
  text-align: center;
}
